h1 {
    font-family: AppleGothic, sans-serif;
    font-weight: 1500;
    text-align: center;
    background-color: palevioletred;
}

h2 {
    font-family: "New Peninim MT", sans-serif;
    font-size: 23px;
}

li, p {
    font-size: 20px;
}

li {
    font-family: Georgia, sans-serif;
    font-weight: initial;
}

p {
    font-weight: lighter;
    font-family: "Fira Code", "DejaVu Sans", sans-serif;
}

.recipe-button {
    display: inline-block;
    text-align: center;
    height: 30px;
    width: 100px;
    padding: 10px;
    margin: 0 20px;
    background-color: palevioletred;
}

.main-image {
    display: block;
    margin: 0 auto;
}

.recipe-container {
    text-align: center;
    margin: 0 auto;
}